@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

nav {
  @include a.boxshadow;
  @include l.padding(md);
  @include t.serif;
  a,
  span {
    text-transform: lowercase;
  }
  // position: sticky;
  // top: 0;

  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: capitalize;

  z-index: 5;
}

.logo {
  width: 50px;
  img {
    @include l.radius(sm);
  }
}

.burger {
  display: none;
  cursor: pointer;
}

/* Tablet --> Mobile View */
.nav-menu {
  @include l.max(md) {
    display: none;
  }
}

.burger {
  @include l.max(md) {
    display: block;
  }
}
