<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact</title>
  <%- include('../partials/head') %>
</head>

<body class="bg-red-950">
  <%- include('../partials/nav') %>

  <!-- Tailwind -->
  <main class="max-w-[1000px] mx-auto p-8">
    <h2 class="text-white/75 text-center font-bold mb-8">Please use this form to get in touch</h2>
    <section class="flex flex-col sm:flex-row gap-8 w-full">
    <img src="/img/young_bishu.jpg" alt="" class="sm:w-2/5 object-cover object-center rounded">
    <form action="/mailsend" method="post" class="text-gray-200 space-y-4 sm:w-3/5">
      <div class="flex flex-col">
        <label for="name">Name*</label>
        <input type="text" name="name" class="rounded p-2 bg-gray-200 text-black" required>
      </div>
      <div class="flex flex-col">
        <label for="email">Email*</label>
        <input type="text" name="email" class="rounded p-2 bg-gray-200 text-black" required>
      </div>
      <div class="flex flex-col">
        <label for="subject">Subject*</label>
        <input type="text" name="subject" class="rounded p-2 bg-gray-200 text-black" required>
      </div>
      <div class="flex flex-col">
        <label for="message">Message</label>
        <textarea name="message" id="" cols="30" rows="10" class="rounded p-2 bg-gray-200 text-black"></textarea>
      </div>
      <div class="flex flex-col w-max ml-auto">
        <button type="submit">Send <i class="fa-solid fa-paper-plane"></i></button>
      </div>
    </form>
    </section>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>