<div class="socials flex justify-center items-center gap-4">
    <a href="https://www.facebook.com/bcjazznow" class="socials-link"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/bcjazznow/" class="socials-link"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/@bishuchattopadhyay5865" class="socials-link"><i class="fab fa-youtube"></i></a>
    <a href="https://open.spotify.com/artist/36WLo5V7C4uB5KnqSocO2b" class="socials-link"><i class="fab fa-spotify"></i></a>
</div>