<!-- <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> -->

<!-- Contact form -->
<form id="contact-form" action="/mailsend" method="post" class="text-gray-200 space-y-4 sm:w-3/5 mx-auto max-w-full">
    <div class="flex flex-col">
      <label for="name">Name*</label>
      <input type="text" name="name" class="rounded p-2 bg-gray-200 text-black">
    </div>
    <div class="flex flex-col">
      <label for="email">Email*</label>
      <input type="text" name="email" class="rounded p-2 bg-gray-200 text-black">
    </div>
    <div class="flex flex-col">
      <label for="subject">Subject*</label>
      <input type="text" name="subject" class="rounded p-2 bg-gray-200 text-black">
    </div>
    <div class="flex flex-col">
      <label for="message">Message</label>
      <textarea name="message" id="" cols="30" rows="10" class="rounded p-2 bg-gray-200 text-black"></textarea>
    </div>

    <!-- Cloudflare turnstile -->
    <!-- <div class="cf-turnstile" data-sitekey="0x4AAAAAAAbiMKHW7ITGnCR1" data-callback="javascriptCallback"></div> -->

    <!-- Submit button -->
    <div class="flex flex-col w-max">
      <button type="submit">Send <i class="fa-solid fa-paper-plane"></i></button>
    </div>
  </form>