<section>
	<h1 class="font-serif text-center text-nowrap text-gold uppercase bg-red-800 py-8 text-2xl">Bishu Chattopadhyay</h1>
	<div class="max-w-[500px] mx-auto sm:my-12 mb-4 space-y-8">
		<img src="/img/hero.jpg" class="h-[50vh] sm:h-full w-full object-cover object-center sm:rounded">
		<div class="text-white px-4 space-y-4">
			<blockquote>
				&ldquo;Kolkata Stories is a lovely collection, a palette of conventional sounds within the contours of free-flowing, straight-ahead jazz. It doesn&apos;t seek to overwhelm you at first listen. Rather the ideas suck you in gently.&rdquo;
			</blockquote>
			<p class="text-center">&mdash; Shantanu Datta, Telegrah India</p>
		</div>
	</div>
</section>