<section>
	<h1 class="font-serif text-center text-nowrap text-gold uppercase bg-red-800 py-8 text-2xl">Bishu Chattopadhyay</h1>
	<img src="/img/hero.jpg" class="h-[50vh] sm:h-full w-full object-cover object-center max-w-[500px] mx-auto sm:my-12 sm:rounded">
</section>