/* Transition */
/* Box Shadow */
/* Gradient */
/* Text Shadow */
.rd-xxs {
  border-radius: 2.5px;
}

.rd-xs {
  border-radius: 5px;
}

.rd-sm {
  border-radius: 10px;
}

.rd-md {
  border-radius: 15px;
}

.rd-lg {
  border-radius: 30px;
}

.rd-xl {
  border-radius: 50px;
}

.rd-xxl {
  border-radius: 70px;
}

:root {
  /* UTILITY */
  --success: #3b916d;
  --success-hover: #2a654c;
  --danger: #b00020;
  --danger-hover: #b00020;
  /* COMPONENTS */
  --dashboard-form: rgb(48, 66, 85);
  --dashboard: #2a654c;
  --dashboard-hover: #3b916d;
  --btn-primary: var(--main);
  /* MONOCHROME */
  --247: rgb(247, 247, 247);
  --235: rgb(235, 235, 235);
  --220: rgb(220, 220, 220);
  --200: rgb(200, 200, 200);
  --180: rgb(180, 180, 180);
  --160: rgb(160, 160, 160);
  --140: rgb(140, 140, 140);
  --120: rgb(120, 120, 120);
  --100: rgb(100, 100, 100);
  --80: rgb(80, 80, 80);
  --60: rgb(60, 60, 60);
  --40: rgb(40, 40, 40);
  --20: rgb(20, 20, 20);
  --8: rgb(8, 8, 8);
  /* MAIN */
  --main: #1a070c;
  --main-hover: #1a070c;
  /* SECOND */
  --second: #31020f;
  --second-hover: #31020f;
  /* ACCENT */
  --accent: #d16f00;
  --accent-hover: #cb6c00;
  --accent2: #c37832;
  /* GOLD */
  --gold: #fdd017;
}

.bg-main {
  background-color: var(--main);
}

.bg-secondary {
  background-color: var(--second);
}

.bg-247 {
  background-color: rgb(247, 247, 247);
}

.bg-235 {
  background-color: rgb(235, 235, 235);
}

.bg-220 {
  background-color: rgb(220, 220, 220);
}

.bg-200 {
  background-color: rgb(200, 200, 200);
}

.bg-180 {
  background-color: rgb(180, 180, 180);
}

.bg-160 {
  background-color: rgb(160, 160, 160);
}

.bg-140 {
  background-color: rgb(140, 140, 140);
}

.bg-120 {
  background-color: rgb(120, 120, 120);
}

.bg-100 {
  background-color: rgb(100, 100, 100);
}

.bg-80 {
  background-color: rgb(80, 80, 80);
}

.bg-60 {
  background-color: rgb(60, 60, 60);
}

.bg-40 {
  background-color: rgb(40, 40, 40);
}

.bg-20 {
  background-color: rgb(20, 20, 20);
}

.bg-8 {
  background-color: rgb(8, 8, 8);
}

.bg-247-10 {
  background-color: rgba(247, 247, 247, 0.1);
}

.bg-247-20 {
  background-color: rgba(247, 247, 247, 0.2);
}

.bg-247-30 {
  background-color: rgba(247, 247, 247, 0.3);
}

.bg-247-40 {
  background-color: rgba(247, 247, 247, 0.4);
}

.bg-247-50 {
  background-color: rgba(247, 247, 247, 0.5);
}

.bg-247-60 {
  background-color: rgba(247, 247, 247, 0.6);
}

.bg-247-70 {
  background-color: rgba(247, 247, 247, 0.7);
}

.bg-247-80 {
  background-color: rgba(247, 247, 247, 0.8);
}

.bg-247-90 {
  background-color: rgba(247, 247, 247, 0.9);
}

.bg-235-10 {
  background-color: rgba(235, 235, 235, 0.1);
}

.bg-235-20 {
  background-color: rgba(235, 235, 235, 0.2);
}

.bg-235-30 {
  background-color: rgba(235, 235, 235, 0.3);
}

.bg-235-40 {
  background-color: rgba(235, 235, 235, 0.4);
}

.bg-235-50 {
  background-color: rgba(235, 235, 235, 0.5);
}

.bg-235-60 {
  background-color: rgba(235, 235, 235, 0.6);
}

.bg-235-70 {
  background-color: rgba(235, 235, 235, 0.7);
}

.bg-235-80 {
  background-color: rgba(235, 235, 235, 0.8);
}

.bg-235-90 {
  background-color: rgba(235, 235, 235, 0.9);
}

.bg-220-10 {
  background-color: rgba(220, 220, 220, 0.1);
}

.bg-220-20 {
  background-color: rgba(220, 220, 220, 0.2);
}

.bg-220-30 {
  background-color: rgba(220, 220, 220, 0.3);
}

.bg-220-40 {
  background-color: rgba(220, 220, 220, 0.4);
}

.bg-220-50 {
  background-color: rgba(220, 220, 220, 0.5);
}

.bg-220-60 {
  background-color: rgba(220, 220, 220, 0.6);
}

.bg-220-70 {
  background-color: rgba(220, 220, 220, 0.7);
}

.bg-220-80 {
  background-color: rgba(220, 220, 220, 0.8);
}

.bg-220-90 {
  background-color: rgba(220, 220, 220, 0.9);
}

.bg-200-10 {
  background-color: rgba(200, 200, 200, 0.1);
}

.bg-200-20 {
  background-color: rgba(200, 200, 200, 0.2);
}

.bg-200-30 {
  background-color: rgba(200, 200, 200, 0.3);
}

.bg-200-40 {
  background-color: rgba(200, 200, 200, 0.4);
}

.bg-200-50 {
  background-color: rgba(200, 200, 200, 0.5);
}

.bg-200-60 {
  background-color: rgba(200, 200, 200, 0.6);
}

.bg-200-70 {
  background-color: rgba(200, 200, 200, 0.7);
}

.bg-200-80 {
  background-color: rgba(200, 200, 200, 0.8);
}

.bg-200-90 {
  background-color: rgba(200, 200, 200, 0.9);
}

.bg-180-10 {
  background-color: rgba(180, 180, 180, 0.1);
}

.bg-180-20 {
  background-color: rgba(180, 180, 180, 0.2);
}

.bg-180-30 {
  background-color: rgba(180, 180, 180, 0.3);
}

.bg-180-40 {
  background-color: rgba(180, 180, 180, 0.4);
}

.bg-180-50 {
  background-color: rgba(180, 180, 180, 0.5);
}

.bg-180-60 {
  background-color: rgba(180, 180, 180, 0.6);
}

.bg-180-70 {
  background-color: rgba(180, 180, 180, 0.7);
}

.bg-180-80 {
  background-color: rgba(180, 180, 180, 0.8);
}

.bg-180-90 {
  background-color: rgba(180, 180, 180, 0.9);
}

.bg-160-10 {
  background-color: rgba(160, 160, 160, 0.1);
}

.bg-160-20 {
  background-color: rgba(160, 160, 160, 0.2);
}

.bg-160-30 {
  background-color: rgba(160, 160, 160, 0.3);
}

.bg-160-40 {
  background-color: rgba(160, 160, 160, 0.4);
}

.bg-160-50 {
  background-color: rgba(160, 160, 160, 0.5);
}

.bg-160-60 {
  background-color: rgba(160, 160, 160, 0.6);
}

.bg-160-70 {
  background-color: rgba(160, 160, 160, 0.7);
}

.bg-160-80 {
  background-color: rgba(160, 160, 160, 0.8);
}

.bg-160-90 {
  background-color: rgba(160, 160, 160, 0.9);
}

.bg-140-10 {
  background-color: rgba(140, 140, 140, 0.1);
}

.bg-140-20 {
  background-color: rgba(140, 140, 140, 0.2);
}

.bg-140-30 {
  background-color: rgba(140, 140, 140, 0.3);
}

.bg-140-40 {
  background-color: rgba(140, 140, 140, 0.4);
}

.bg-140-50 {
  background-color: rgba(140, 140, 140, 0.5);
}

.bg-140-60 {
  background-color: rgba(140, 140, 140, 0.6);
}

.bg-140-70 {
  background-color: rgba(140, 140, 140, 0.7);
}

.bg-140-80 {
  background-color: rgba(140, 140, 140, 0.8);
}

.bg-140-90 {
  background-color: rgba(140, 140, 140, 0.9);
}

.bg-120-10 {
  background-color: rgba(120, 120, 120, 0.1);
}

.bg-120-20 {
  background-color: rgba(120, 120, 120, 0.2);
}

.bg-120-30 {
  background-color: rgba(120, 120, 120, 0.3);
}

.bg-120-40 {
  background-color: rgba(120, 120, 120, 0.4);
}

.bg-120-50 {
  background-color: rgba(120, 120, 120, 0.5);
}

.bg-120-60 {
  background-color: rgba(120, 120, 120, 0.6);
}

.bg-120-70 {
  background-color: rgba(120, 120, 120, 0.7);
}

.bg-120-80 {
  background-color: rgba(120, 120, 120, 0.8);
}

.bg-120-90 {
  background-color: rgba(120, 120, 120, 0.9);
}

.bg-100-10 {
  background-color: rgba(100, 100, 100, 0.1);
}

.bg-100-20 {
  background-color: rgba(100, 100, 100, 0.2);
}

.bg-100-30 {
  background-color: rgba(100, 100, 100, 0.3);
}

.bg-100-40 {
  background-color: rgba(100, 100, 100, 0.4);
}

.bg-100-50 {
  background-color: rgba(100, 100, 100, 0.5);
}

.bg-100-60 {
  background-color: rgba(100, 100, 100, 0.6);
}

.bg-100-70 {
  background-color: rgba(100, 100, 100, 0.7);
}

.bg-100-80 {
  background-color: rgba(100, 100, 100, 0.8);
}

.bg-100-90 {
  background-color: rgba(100, 100, 100, 0.9);
}

.bg-80-10 {
  background-color: rgba(80, 80, 80, 0.1);
}

.bg-80-20 {
  background-color: rgba(80, 80, 80, 0.2);
}

.bg-80-30 {
  background-color: rgba(80, 80, 80, 0.3);
}

.bg-80-40 {
  background-color: rgba(80, 80, 80, 0.4);
}

.bg-80-50 {
  background-color: rgba(80, 80, 80, 0.5);
}

.bg-80-60 {
  background-color: rgba(80, 80, 80, 0.6);
}

.bg-80-70 {
  background-color: rgba(80, 80, 80, 0.7);
}

.bg-80-80 {
  background-color: rgba(80, 80, 80, 0.8);
}

.bg-80-90 {
  background-color: rgba(80, 80, 80, 0.9);
}

.bg-60-10 {
  background-color: rgba(60, 60, 60, 0.1);
}

.bg-60-20 {
  background-color: rgba(60, 60, 60, 0.2);
}

.bg-60-30 {
  background-color: rgba(60, 60, 60, 0.3);
}

.bg-60-40 {
  background-color: rgba(60, 60, 60, 0.4);
}

.bg-60-50 {
  background-color: rgba(60, 60, 60, 0.5);
}

.bg-60-60 {
  background-color: rgba(60, 60, 60, 0.6);
}

.bg-60-70 {
  background-color: rgba(60, 60, 60, 0.7);
}

.bg-60-80 {
  background-color: rgba(60, 60, 60, 0.8);
}

.bg-60-90 {
  background-color: rgba(60, 60, 60, 0.9);
}

.bg-40-10 {
  background-color: rgba(40, 40, 40, 0.1);
}

.bg-40-20 {
  background-color: rgba(40, 40, 40, 0.2);
}

.bg-40-30 {
  background-color: rgba(40, 40, 40, 0.3);
}

.bg-40-40 {
  background-color: rgba(40, 40, 40, 0.4);
}

.bg-40-50 {
  background-color: rgba(40, 40, 40, 0.5);
}

.bg-40-60 {
  background-color: rgba(40, 40, 40, 0.6);
}

.bg-40-70 {
  background-color: rgba(40, 40, 40, 0.7);
}

.bg-40-80 {
  background-color: rgba(40, 40, 40, 0.8);
}

.bg-40-90 {
  background-color: rgba(40, 40, 40, 0.9);
}

.bg-20-10 {
  background-color: rgba(20, 20, 20, 0.1);
}

.bg-20-20 {
  background-color: rgba(20, 20, 20, 0.2);
}

.bg-20-30 {
  background-color: rgba(20, 20, 20, 0.3);
}

.bg-20-40 {
  background-color: rgba(20, 20, 20, 0.4);
}

.bg-20-50 {
  background-color: rgba(20, 20, 20, 0.5);
}

.bg-20-60 {
  background-color: rgba(20, 20, 20, 0.6);
}

.bg-20-70 {
  background-color: rgba(20, 20, 20, 0.7);
}

.bg-20-80 {
  background-color: rgba(20, 20, 20, 0.8);
}

.bg-20-90 {
  background-color: rgba(20, 20, 20, 0.9);
}

.bg-8-10 {
  background-color: rgba(8, 8, 8, 0.1);
}

.bg-8-20 {
  background-color: rgba(8, 8, 8, 0.2);
}

.bg-8-30 {
  background-color: rgba(8, 8, 8, 0.3);
}

.bg-8-40 {
  background-color: rgba(8, 8, 8, 0.4);
}

.bg-8-50 {
  background-color: rgba(8, 8, 8, 0.5);
}

.bg-8-60 {
  background-color: rgba(8, 8, 8, 0.6);
}

.bg-8-70 {
  background-color: rgba(8, 8, 8, 0.7);
}

.bg-8-80 {
  background-color: rgba(8, 8, 8, 0.8);
}

.bg-8-90 {
  background-color: rgba(8, 8, 8, 0.9);
}

[data-animation] {
  transition-duration: 0.5s;
  transition-delay: 0.25s;
}

/* Transition Options */
[data-delay=sm] {
  transition-delay: 0.5s;
}

[data-delay=md] {
  transition-delay: 0.75s;
}

[data-delay=lg] {
  transition-delay: 1s;
}

[data-duration=fast] {
  transition-duration: 0.25s;
}

[data-duration=slow] {
  transition-duration: 0.75s;
}

[data-bezier=ease] {
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.1);
}

/* Blur */
[data-animation=blur] {
  filter: blur(5px);
}
[data-animation=blur].animate--start {
  filter: blur(0);
}

/* Fade */
[data-animation=fade] {
  opacity: 0;
}
[data-animation=fade].animate--start {
  opacity: 1;
}

/* Slide */
[data-animation=slide][data-direction=left] {
  transform: translateX(-100%);
}
[data-animation=slide][data-direction=right] {
  transform: translateX(100%);
}
[data-animation=slide].animate--start {
  transform: translateX(0);
}

/* Keyframes ================================================ */
[data-hover=shake]:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
[data-hover=rotate]:hover {
  animation: rotate 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
[data-hover=pulse]:hover {
  animation: pulse 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
[data-hover=underline] {
  position: relative;
}
[data-hover=underline]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
[data-hover=underline]:hover::after, [data-hover=underline].active::after {
  width: 100%;
}

.banner {
  width: 100%;
  max-height: 75vh;
  object-fit: cover;
  object-position: center;
}

.btn {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  display: inline-block;
}
.btn.lg {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary {
  background-color: var(--main);
  color: white;
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--main-hover);
}

.btn-secondary {
  background-color: var(--second);
  transition: all 0.2s ease-in-out;
  color: white;
}
.btn-secondary:hover {
  background-color: var(--second-hover);
}

.btn-success {
  background-color: var(--success);
  color: white;
}
.btn-success:hover {
  background-color: var(--success-hover);
}

.btn-danger {
  background-color: var(--danger);
}
.btn-danger:hover {
  background-color: var(--danger-hover);
}

.no-btn {
  background-color: transparent;
  box-shadow: none;
  color: var(--40);
}
.no-btn:hover {
  background-color: rgba(150, 150, 150, 0.1);
}

.btn-dashboard {
  background-color: var(--dashboard);
  color: white;
}
.btn-dashboard:hover {
  background-color: var(--dashboard-hover);
}

.btn-accent {
  background-color: var(--220);
  transition: all 0.2s ease-in-out;
  color: var(--second);
}
.btn-accent:hover {
  background-color: var(--accent2);
  color: white;
}

.flex {
  display: flex;
  /* Direction */
  /* Wrap */
  /* Justify Content */
  /* Align Items */
}
.flex.row {
  flex-direction: row;
}
.flex.row-reverse {
  flex-direction: row-reverse;
}
.flex.column {
  flex-direction: column;
}
.flex.column-reverse {
  flex-direction: column-reverse;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex.nowrap {
  flex-wrap: nowrap;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-around {
  justify-content: space-around;
}
.flex.justify-evenly {
  justify-content: space-evenly;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-end {
  align-items: flex-end;
}
.flex.align-stretch {
  align-items: stretch;
}
.flex.align-baseline {
  align-items: baseline;
}

/* Gap Sizes */
/* Gap */
.flex.gap-xxs {
  gap: 6px;
}

.flex.gap-xs {
  gap: 12px;
}

.flex.gap-sm {
  gap: 18px;
}

.flex.gap-md {
  gap: 30px;
}

.flex.gap-lg {
  gap: 42px;
}

.flex.gap-xl {
  gap: 60px;
}

.flex.gap-xxl {
  gap: 72px;
}

@media (max-width: 768px) {
  .flex-md-column {
    flex-direction: column;
  }
}

.flex-1 {
  flex: 1;
}

.form {
  border-radius: 4px;
}
.form label,
.form input,
.form select,
.form textarea {
  font-family: "Roboto", sans-serif;
}
.form label.error, .form label.error:active,
.form input.error,
.form input.error:active,
.form select.error,
.form select.error:active,
.form textarea.error,
.form textarea.error:active {
  outline: solid 1px var(--danger) !important;
}
.form label,
.form select,
.form select option {
  text-transform: capitalize;
}
.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}
.form input,
.form textarea,
.form select {
  width: 100%;
  resize: none;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}
.form input:focus,
.form textarea:focus,
.form select:focus {
  outline: solid 1px var(--200);
}
.form input[type=date],
.form input[type=time] {
  width: max-content;
}
.form .item + .item {
  margin-top: 30px;
}

.primary-form {
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: var(--235);
}

.dashboard-form--wrapper {
  background-color: var(--235);
  height: 100vh;
}

.dashboard-form {
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: white;
}
.dashboard-form::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.dashboard-form input,
.dashboard-form textarea {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.dashboard-form input:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
.dashboard-form input[type=file] {
  display: none;
}
.dashboard-form label.file-upload {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.dashboard-form label.file-upload:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
.dashboard-form input[type=hidden] + .item {
  margin-top: 30px;
}
.dashboard-form .header {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(247, 247, 247);
  position: sticky;
  top: 0;
  z-index: 5;
  border-radius: 4px 4px 0 0;
}
.dashboard-form .content {
  background-color: white;
}
.dashboard-form .preview {
  max-width: 400px;
  margin: 30px 0;
  border-radius: 4px;
  display: none;
}
.dashboard-form .preview.active {
  display: block;
}
.dashboard-form .preview img {
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.contact-form .item:first-child {
  display: flex;
  justify-content: space-between;
}
.contact-form .item:first-child .subitem {
  width: 100%;
}
.contact-form .item:first-child .subitem + .subitem {
  margin-left: 30px;
}
.contact-form .item + .item {
  margin-top: 17.5px;
}
.contact-form .item:last-child {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.contact-form .item .subitem label {
  display: block;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: white;
}
.contact-form .item .subitem input,
.contact-form .item .subitem textarea {
  width: 100%;
  padding: 10px;
  background-color: var(--247);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  resize: none;
}
.contact-form .item .subitem input:focus,
.contact-form .item .subitem textarea:focus {
  outline: solid 1px var(--60);
}
.contact-form .item .subitem textarea {
  height: 200px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-menu > li + li {
  margin-left: 30px;
}
@media (max-width: 768px) {
  .nav-menu li {
    margin: 0 !important;
  }
}
.nav-menu li:last-child {
  background-color: var(--accent);
  padding: 4px 8px;
  border-radius: 4px;
}
.nav-menu li:last-child a {
  color: white;
}
.nav-menu li:last-child a::after {
  display: none;
}

.drop-down-menu {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 100%;
  left: -15px;
  min-width: calc(100% + 30px);
}

.drop-down-menu--parent {
  position: relative;
}
.drop-down-menu--parent span {
  cursor: pointer;
  color: var(--200);
}
.drop-down-menu--parent span:hover {
  color: white;
}
.drop-down-menu--parent > li + li {
  margin-top: 15px;
}
.drop-down-menu--parent ul {
  display: none;
}
.drop-down-menu--parent:hover ul {
  display: flex;
}

/* Components */
.sp-aside-left {
  margin-left: 200px;
}
@media (max-width: 768px) {
  .sp-aside-left {
    margin-left: 0;
  }
}

/* Utilities */
.mg-xs {
  margin: 5px;
}

.pd-xs {
  padding: 5px;
}

.mg--xs {
  margin: 5px;
}

.pd--xs {
  padding: 5px;
}

.mg-t-xs {
  margin-top: 5px;
}

.pd-t-xs {
  padding-top: 5px;
}

.mg-r-xs {
  margin-right: 5px;
}

.pd-r-xs {
  padding-right: 5px;
}

.mg-b-xs {
  margin-bottom: 5px;
}

.pd-b-xs {
  padding-bottom: 5px;
}

.mg-l-xs {
  margin-left: 5px;
}

.pd-l-xs {
  padding-left: 5px;
}

.mg-sm {
  margin: 15px;
}

.pd-sm {
  padding: 15px;
}

.mg--sm {
  margin: 15px;
}

.pd--sm {
  padding: 15px;
}

.mg-t-sm {
  margin-top: 15px;
}

.pd-t-sm {
  padding-top: 15px;
}

.mg-r-sm {
  margin-right: 15px;
}

.pd-r-sm {
  padding-right: 15px;
}

.mg-b-sm {
  margin-bottom: 15px;
}

.pd-b-sm {
  padding-bottom: 15px;
}

.mg-l-sm {
  margin-left: 15px;
}

.pd-l-sm {
  padding-left: 15px;
}

.mg-md {
  margin: 30px;
}

.pd-md {
  padding: 30px;
}

.mg--md {
  margin: 30px;
}

.pd--md {
  padding: 30px;
}

.mg-t-md {
  margin-top: 30px;
}

.pd-t-md {
  padding-top: 30px;
}

.mg-r-md {
  margin-right: 30px;
}

.pd-r-md {
  padding-right: 30px;
}

.mg-b-md {
  margin-bottom: 30px;
}

.pd-b-md {
  padding-bottom: 30px;
}

.mg-l-md {
  margin-left: 30px;
}

.pd-l-md {
  padding-left: 30px;
}

.mg-lg {
  margin: 60px;
}

.pd-lg {
  padding: 60px;
}

.mg--lg {
  margin: 60px;
}

.pd--lg {
  padding: 60px;
}

.mg-t-lg {
  margin-top: 60px;
}

.pd-t-lg {
  padding-top: 60px;
}

.mg-r-lg {
  margin-right: 60px;
}

.pd-r-lg {
  padding-right: 60px;
}

.mg-b-lg {
  margin-bottom: 60px;
}

.pd-b-lg {
  padding-bottom: 60px;
}

.mg-l-lg {
  margin-left: 60px;
}

.pd-l-lg {
  padding-left: 60px;
}

.mg-xl {
  margin: 90px;
}

.pd-xl {
  padding: 90px;
}

.mg--xl {
  margin: 90px;
}

.pd--xl {
  padding: 90px;
}

.mg-t-xl {
  margin-top: 90px;
}

.pd-t-xl {
  padding-top: 90px;
}

.mg-r-xl {
  margin-right: 90px;
}

.pd-r-xl {
  padding-right: 90px;
}

.mg-b-xl {
  margin-bottom: 90px;
}

.pd-b-xl {
  padding-bottom: 90px;
}

.mg-l-xl {
  margin-left: 90px;
}

.pd-l-xl {
  padding-left: 90px;
}

.mw-xs {
  max-width: 575.98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.mw-sm {
  max-width: 767.98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.mw-md {
  max-width: 991.98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.mw-lg {
  max-width: 1199.98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.mw-xl {
  max-width: 1399.98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
}

/* Dashboard Table */
.dashboard-table--container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.dashboard-table {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.dashboard-table thead {
  background-color: rgba(150, 150, 150, 0.1);
  color: var(--100);
  text-transform: capitalize;
}
.dashboard-table th {
  font-weight: 500;
}
.dashboard-table th {
  text-align: left;
}
.dashboard-table th,
.dashboard-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.dashboard-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  max-height: 20px;
}
.dashboard-table td h1,
.dashboard-table td h2,
.dashboard-table td h3,
.dashboard-table td h4,
.dashboard-table td h5,
.dashboard-table td h6,
.dashboard-table td p,
.dashboard-table td span,
.dashboard-table td em,
.dashboard-table td strong,
.dashboard-table td del,
.dashboard-table td ins,
.dashboard-table td sub,
.dashboard-table td sup,
.dashboard-table td ul,
.dashboard-table td ol,
.dashboard-table td li,
.dashboard-table td table,
.dashboard-table td thead,
.dashboard-table td tbody,
.dashboard-table td tfoot,
.dashboard-table td tr,
.dashboard-table td td,
.dashboard-table td th,
.dashboard-table td a,
.dashboard-table td img,
.dashboard-table td blockquote,
.dashboard-table td code,
.dashboard-table td pre,
.dashboard-table td hr,
.dashboard-table td br,
.dashboard-table td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px !important;
  max-height: 22px;
}
.dashboard-table th:first-child,
.dashboard-table td:first-child,
.dashboard-table th:last-child,
.dashboard-table td:last-child {
  width: 20px;
}
.dashboard-table th:not(:first-child):not(:last-child),
.dashboard-table td:not(:last-child) {
  border-right: solid 2px rgba(100, 100, 100, 0.1); /* Add left border to all td elements except the first one */
}
.dashboard-table th {
  border-bottom: solid 2px rgba(100, 100, 100, 0.5);
}
.dashboard-table tr:not(:last-child) {
  border-bottom: solid 2px rgba(100, 100, 100, 0.1);
}

.dashboard-table--container .table-header {
  padding-bottom: 20px;
}
.dashboard-table--container .table-header hr {
  margin-top: 5px;
}
.dashboard-table--container .table-header .btn {
  margin-top: 20px;
}

.toast-notification {
  position: fixed;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  z-index: 9999;
  width: max-content;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  color: var(--247);
  font-size: 14px;
  opacity: 0;
}
.toast-notification.active {
  opacity: 1;
}
.toast-notification.success {
  background-color: var(--success);
}
.toast-notification.danger {
  background-color: var(--danger);
}

/* Headers */
.header.primary-header {
  font-family: "Karma", serif;
  font-size: 36px;
}

.dashboard-header {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--dashboard);
  text-transform: capitalize;
}

/* Subheaders */
.dashboard-subheader {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--100);
  font-weight: 300;
  text-transform: uppercase;
}

/* Paragraphs */
/* Links */
.page-preview-link, .nav-link, .socials-link {
  color: black;
}
.page-preview-link:hover, .nav-link:hover, .socials-link:hover, .active.page-preview-link, .active.nav-link, .active.socials-link {
  color: red;
}

.socials-link {
  font-size: 20px;
}

.drop-down-link {
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
.drop-down-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.aside-link {
  color: var(--200);
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.2s ease-in-out;
}
.aside-link span {
  margin-left: 5px;
}
.aside-link:hover {
  background-color: var(--dashboard-hover);
  color: white;
}
.aside-link.active {
  border-left: solid 5px var(--dashboard-hover);
}

.icon-link {
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.icon-link i {
  font-size: 13px;
  color: var(--140);
  transition: all 0.2s ease-in-out;
}
.icon-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.icon-link:hover i {
  color: var(--20);
}

/* Blockquotes */
blockquote {
  font-style: italic;
}

/* Spans */
span.wrap {
  display: inline-block;
}

/* General */
.txt {
  /* Text alignment */
}
.txt.center {
  text-align: center;
}
.txt.sans {
  font-family: "Lato", sans-serif;
}
.txt.serif {
  font-family: "Karma", serif;
}
.txt.italics {
  font-style: italic;
}
.txt.color.white {
  color: white;
}
.txt[data-lh="1"] {
  line-height: 1;
}
.txt[data-lh="1.1"] {
  line-height: 1.1;
}
.txt[data-lh="1.2"] {
  line-height: 1.2;
}
.txt[data-lh="1.3"] {
  line-height: 1.3;
}
.txt[data-lh="1.4"] {
  line-height: 1.4;
}
.txt[data-lh="1.5"] {
  line-height: 1.5;
}
.txt[data-lh="1.6"] {
  line-height: 1.6;
}
.txt[data-lh="1.7"] {
  line-height: 1.7;
}
.txt[data-lh="1.8"] {
  line-height: 1.8;
}
.txt[data-lh="1.9"] {
  line-height: 1.9;
}
.txt[data-lh="2"] {
  line-height: 2;
}
.txt[data-lh="2.1"] {
  line-height: 2.1;
}
.txt[data-lh="2.2"] {
  line-height: 2.2;
}
.txt[data-lh="2.3"] {
  line-height: 2.3;
}
.txt[data-lh="2.4"] {
  line-height: 2.4;
}
.txt[data-lh="2.5"] {
  line-height: 2.5;
}
.txt[data-lh="2.6"] {
  line-height: 2.6;
}
.txt[data-lh="2.7"] {
  line-height: 2.7;
}
.txt[data-lh="2.8"] {
  line-height: 2.8;
}
.txt[data-lh="2.9"] {
  line-height: 2.9;
}
.txt[data-lh="3"] {
  line-height: 3;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--dashboard);
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  aside {
    position: static;
    width: 100%;
    height: max-content;
  }
}
aside .middle {
  overflow: auto;
}
aside .bottom {
  margin-top: auto;
}

nav {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Karma", serif;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  width: 50px;
}
.logo img {
  border-radius: 10px;
}

.burger {
  display: none;
  cursor: pointer;
}

/* Tablet --> Mobile View */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

#login main {
  width: clamp(100px, 100%, 400px);
}

.contact-section {
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contact-section {
    display: flex;
    gap: 16px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .music-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 576px) {
  .music-section > div {
    flex: 1 0 45%;
  }
}

/* Contact page */
/* Music page */
